


#header img {
    width: 80px;
}
#main .carousel-inner img {
    max-height: 30vh;
    object-fit: cover;
    filter: grayscale(70%);
}  
#carousel {
    position: relative;
}  
#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    
} 
#carousel .overlay .container,
#carousel .overlay .row {
 height: 30vh;
}
#footer {
    background: linear-gradient(90deg,#525252,#9fe484 25%,#929292);
    margin-top: 23.2vh;
 }  
 #footer a {
    color: rgb(0, 0, 0);
 }